<mat-card class="example-card mat-elevation-z3" >
    <button mat-button color="primary" class="botton_new" routerLink="/hospedes/form">Novo Hospede</button>
    <mat-card-header>
        <mat-card-title>Hospedes</mat-card-title>
        <mat-card-subtitle>Lista de Hospedes Cadastrados</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="hospedes" class="mat-elevation-z8">

        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> #ID </th>
              <td mat-cell *matCellDef="let hospede"> {{hospede.idHospede}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome do Hospede </th>
              <td mat-cell *matCellDef="let hospede"> {{hospede.nmHospede}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
              <td mat-cell *matCellDef="let hospede"> {{hospede.dtNascimento}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="cpf">
              <th mat-header-cell *matHeaderCellDef> CPF </th>
              <td mat-cell *matCellDef="let hospede"> {{hospede.cpf}} </td>
            </ng-container>
          
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef>Acões </th>
                <td mat-cell *matCellDef="let hospede">
                    <a routerLink="/hospedes/{{hospede.idHospede}}" class="edit">
                        <button mat-raised-button color="primary"><i class="material-icons">edit</i></button>
                    </a>
                    <a>
                        <button mat-raised-button color="warn" (click)="excluir(hospede)"><i class="material-icons">delete</i></button>
                    </a>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


    </mat-card-content>
</mat-card>
