<mat-card>
    <mat-card-title>{{titulo}}</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="CPF" name="cpf" [(ngModel)]="hospede.cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data Nascimento" name="dtNascimento" [(ngModel)]="hospede.dtNascimento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do Hospede" name="nmHospede" [(ngModel)]="hospede.nmHospede">
        </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-raised-button color="warn" routerLink="/hospedes/">Cancelar</button>
</mat-card>